[submodule "searxng-docker"]
	path = searxng-docker
	url = https://github.com/searxng/searxng-docker.git
[submodule "FinBuddy-MCP-Server"]
	path = FinBuddy-MCP-Server
	url = https://github.com/MarkovChenITRI/FinBuddy-MCP-Server.git
